.container{
  width: 100%;
  max-width: 900px;
  font-family: 'Merriweather', serif;
}

.hero-container{
  position: relative;
  text-align: center;
  color: white;
}

.hero-image{
  width: 100%;
}

.overlay{
  position: absolute;
  width: 100%;
  top: 20%;
  background-color: #000000;
  opacity:.7;
}

.hero-hed{
  padding-top: 10px;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

.hero-subhed{
  padding-top: 10px;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

.photo{
  width: 100%;
}

.nav-logo{
  color: white;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
}

.red{
  color: #D21404
};
}

p{
  color: white;
  font-family: 'Merriweather', serif;
  background: black;
}

.photo-large{
  width: 100%;
  max-width: 1500px;
}

.quote{
  font-family: 'Oswald', sans-serif;
  color: #D21404;
  font-size: 2.5em;
  text-align: center;
  font-style: italic;
}

.speaker{
  font-family: 'Oswald', sans-serif;
  color: #D21404;
  font-size: 1.5em;
  text-align: center;
}


.chapter{
  font-family: 'Oswald', sans-serif;
  color: #D21404;
  font-size: 1.75em;
}

.caption{
  font-family: 'Oswald', sans-serif;
  color: black;
  text-align: right;
  font-size: 1em;
}

.sidebar{
  border-top: solid #D21404 2px;
  border-bottom: solid #D21404 2px;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

h2{
  text-align: center;
}
