/*styles for my resume*/
 body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
}
/*banner name on top*/
#name {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  font-weight: 600;
}
/*my title*/
strong {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e
}
/*experience, edu, skills*/
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0
  margin-right: 0
}
/*job titles*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}
/*company*/
.organization {
  font-size: 1.25em;
}
/*years*/
.date {
  font-size: 1em;
  margin: 2 0 0;
}
/*bullets under contact,edu, skills*/
.mainlist li {
  font-size: 1em;
}

.description {
  margin: 10 0;
}

.menu {
  margin: 0 0;
  padding: 0 0;
  text-align: center;
}

.menu li {
  display: inline;
}

#degrees li {
  margin: 5px 0 0;
}

#do li {
  margin: 5px 0 0;
}
