#content{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#masthead{
  font-family: 'Ultra', serif;
  font-size: 70px;
  text-align: center;
  border-bottom: 1px solid black;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1{
  font-family: Helvetica, sans-serif;
  font-size: 30px;
}

p{
  font-family: Georgia, serif;
  font-size: 13px;
}

img{
  width: 100%;
  max-width: 900px;
}

#graphic-description{
  font-size: 18px;
}

.caption{
  text-align: right;
  font-style: italic;
  font-size: 12px;
}

blockquote{
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
